* text eol=lf

# code
*.js eol=lf
*.jsx eol=lf
*.ts eol=lf
*.tsx eol=lf

# markup
*.ejs eol=lf
*.html eol=lf

# styles
*.css eol=lf
*.sass eol=lf
*.scss eol=lf

# query
*.gql eol=lf
*.graphql eol=lf

# data
*.csv eol=lf
*.json eol=lf
*.toml eol=lf
*.yaml eol=lf
*.yml eol=lf

# text
*.md eol=lf
*.txt eol=lf

# images
*.avif binary
*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.png binary
*.svg eol=lf
*.webp binary
